<header>
<div class="mainDIV">
<div class="headerdiv">
  <button><img alt="playbutton" src="../assets/images/logo.svg" class="playbtn"></button>
  <input type="search" placeholder="what do you want to find out?" id="site-search" name="q">
  <button class="searchbtn">Search</button>
  <button><img alt="settingsbutton" src="./assets/images/search_settings.svg" class="settingsbtn"></button>
</div>


<div class="logIn">
  <a>Your Name</a>
   <a><img alt="avatar" class="avatar" src="../assets/images/Subtract.svg"></a>
</div>

</div>
</header>
