.headerdiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logIn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mainDIV{
  display: flex;
  flex-direction: row !important;
 width: 100%;

}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

header{
  display: flex;
  flex-direction: row;
}
